{% extends "base.html" %}
{% block content %}
    <div class="row mt-3">
        <div id="masonry">
            <div class="row">
                {% for pin in created_pins %}
                    <div class="img-container col-md-2 ms-2 me-4 mb-3">
                        <a href="{% url 'posts:pin_detail' pin.id %}">
                            {% if pin.get_type == 'video' %}
                                <video autoplay muted loop class="video" >
                                    <source src="{{ pin.file.url }}" >
                                </video>
                            {% elif pin.get_type == 'image' %}
                                <img src="{{ pin.file.url }}">
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

